
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row lh" style="margin-left:5px; margin-bottom:20px; margin-right:5px;">
    <h1 style="text-align:center">LIÊN HỆ</h1>
    <p>
        <span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">
            <strong>
                <em>
                    Mọi chi tiết xin vui lòng liên hệ : newfashion@gmail.com
                </em>
            </strong>
        </span>
    </p>
    <ul>
        <li>
            <span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">
                <strong>
                    <em>
                        Hotline bán hàng : 0966136134
                    </em>
                </strong>
            </span>
        </li>
        <li>
            <span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">
                <strong>
                    <em>
                        Website : NewFashion.com
                    </em>
                </strong>
            </span>
        </li>
        <li>
            <span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">
                <strong>
                    <em>
                        Hệ thống cửa hàng : 975A Điện Biên Phủ, Quận Bình Thạnh, Tp HCM
                    </em>
                </strong>
            </span>
        </li>
    </ul>
    <p><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;"><strong><em></em></strong></span></p>

</div>
<a href="~/Views/Guest/SPTheothuonghieu.cshtml">~/Views/Guest/SPTheothuonghieu.cshtml</a>

