@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<h2>Cảm ơn quý vị đã đặt vé tham quan của chúng tôi. Chúc bạn có môt chuyến thăm quan vui vẻ!!!</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "Guest")
</p>


