@model DACS.Models.PHANLOAI
@{
    ViewBag.Title = "ChitietPL";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ChitietPL</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Phân loại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Điều chỉnh", "SuaPL", new { id = Model.MaPL }) |
    @Html.ActionLink("TRỞ VỀ PHÂN LOẠI", "Phanloai")
</p>
